@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.fixed-width-100 {
  width: 100px !important;
  min-width: 100px !important; /* Ensure the width is not less than 100px */
  max-width: 100px !important; /* Ensure the width does not exceed 100px */
}

.fixed-width-200 {
  width: 200px !important;
  min-width: 200px !important;
  max-width: 200px !important;
}

.fixed-width-Amount {
  width: 50px !important;
  min-width: 50px !important; /* Ensure the width is not less than 100px */
  max-width: 50px !important; /* Ensure the width does not exceed 100px */
}


/* Alternatively, target cells by their position in each row */
.table-fixed-width td:nth-child(2) { /* First column */
  width: 50px;
}


